{
  "singleQuote": true,
  "printWidth": 80,
  "endOfLine": "auto",
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.ts"],
      "options": {
        "printWidth": 80,
        "endOfLine": "lf"
      }
    }
  ]
}
